<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>hello world</h2>
    <button>get data</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.8/axios.min.js"></script>

    <script>
        document.querySelector('button')
        .addEventListener('click',()=>{
            axios.get('/test') //joh route access krna hai
            //isse ek req chali jaati from frontend to backend
            // response ko catch kro .then mein
            .then(response =>{
                console.log(response.data);
                //kaam ka bs data and status of response
            })

            /*
            axios.post bhi use kr skte

            axios.post('/test',{username:"abc"}) //joh route access krna hai
            //isse ek req chali jaati from frontend to backend
            // response ko catch kro .then mein
            .then(response =>{
                console.log(response.data);
                //kaam ka bs data and status of response
            })
            */
        })
    </script>
</body>
</html>